*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#2a2a30;
}
.nav-bar .nav ul{
    display: flex;
    list-style: none ;
}
.nav-bar .nav ul .left{
    display: flex;
    align-items: center;
    width: 50%;
    overflow: hidden;
}
.nav-bar .nav{
    background-color: white;
}

.nav-bar .nav ul .left li:nth-child(1) img{
    width: 100%;
    }
.nav-bar .nav ul .left li{
    margin-left: 3%;
    font-family: 'Source Sans Pro Topnav', sans-serif;
    font-weight: bolder;
    padding: 2%;
    height: 100%;
    display: flex;
    align-items: center;
    width: 120px;
    justify-content: center;

}
.nav-bar .nav ul .left li:nth-child(1){
    height: 50px;
    width: 50px;
    margin-left:0% ;
    display: flex;
    align-items: center;
}
.nav-bar .nav ul .left li:hover{
    background-color: #059862;
    color: white;
    transition-duration: 0.3s;
}
.nav-bar .nav ul .left li:nth-child(1):hover{
    background-color: transparent;
}
.nav-bar .nav .right{
width: 50%;
display: flex;

}

.nav-bar .nav ul .right .icons{
    display: flex;
    align-items: center;
    height: 100%;
}
.nav-bar .nav ul .right .icons i{
    margin-left: 5%;
    justify-content: center;
}
#padding{
    margin: 10px;
    padding: 5px;
}
.nav-bar .nav ul .right .icons input{
    border-radius: 75px 75px;
    padding: 10px 8px;
    border: 5px solid #059862;
    }
    .nav-bar .nav ul .right .buttons{
        display: flex;
        list-style: none;
        
    }
    .nav-bar .nav ul .right .buttons li{
    margin-right: 3%;
    font-family: 'Source Sans Pro Topnav', sans-serif;
    font-weight: bolder;
    padding: 15px;
    height: 100%;
    display: flex;
    align-items: center;
    width: 120px;
    list-style: none;


    }
    .buttons{
        align-items: center;
    }
    .buttons .icon a{
        color: black;
        text-decoration: none;
        padding: 8px 16px;
        position: relative;
        margin: 20px;
    
        
       
        
    }
    .buttons .icon{
        color: #9763f6;
    }
    .secondbar{
        align-items: center;
    }
    .second a{
        color: rgb(157, 148, 196);
    }
    .menubar-second{
       align-items: center;
    }
    .mt{
    color:white;
    padding: 10px 20px;
    text-decoration: none;

   }
   .mt:hover {
    background-color: #101011;
    border-radius: 10px;
   }
   